page-add {
    .button{
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-top: 50px;
    }
    .add{
        margin-top: 190px;
    }
    ion-content{
        background-color: lightgreen !important;
    }
    ion-label{
        font-size: 20px;
    }
    input{

        width: 190px;
        height: 30px;
      
    }

}
