<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to my data binding app</h1>

<div>Month :

    <select>
        <option *ngFor="let i of months">{{i}}</option>

    </select>
</div>


<div>
    <span *ngIf = "isAvailable; then condition1 else condition2">Condition is valid</span>
    <ng-template #condition1>Condition is valid</ng-template>
    <ng-template #condition2>Condition is invalid</ng-template>
</div>


<button (click)="myClickFunction($event)">
        Click Me
     </button>