page-home {

    #teama{
        float: left;
        border-right: 1px solid black ;
        text-align: center;
        width: 50%;
        // margin-left:60px;
        // margin-top: 10px;
       
    }

    #teamb{
        float: right;
        text-align: center;
        width: 50%;
        // margin-right: 60px;
        // margin-top: 10px;
        
     }

    #clear{
        margin-top: 200px;
        margin-left: 120px;
        width: 40%;
        
    }
   .button{
       width: 100px;
      color: black;
       
   }
   ion-label{
       font-size: 40px;
   }

}
