h1{
    font-size: 40px;
    font-style: italic;
    background-color: darkcyan;
    color: chartreuse;
    text-align: center;
    margin: auto;
}
p{
    font-size: 20px;
    
}

a{
    color: crimson;
    

}